{{"// @ts-ignore"}}
{{"/** eslint-disable */"}}
{{requestImportStatement}}
{{requestConfigTypeLibPath}}

{% for api in list %}
  /**
  {{- api.desc if api.desc else "此处后端没有提供注释"}}
  {{- ' ' + api.method | upper }}
  {{- ' ' + api.pathInComment | safe -}}
  */
  {{'export async function'}}
  {{api.functionName}}(
  {# params参数 #}
  {% if api.params and api.hasParams %}
    // 叠加生成的Param类型 (非body参数swagger默认没有生成对象)
    {{'params'}}
    {%- if genType === 'ts' %}
      :{{namespace}}.{{api.typeName}}
    {%- endif -%}
    {%- if api.hasParams -%}
      {{ "," if api.body}}
    {%- endif -%}
  {%- endif -%}
  {# body参数 #}
  {%- if api.body -%}
    data
    {%- if genType === "ts" -%}
      :
      {%- if api.body.propertiesList -%}
        {
        {%- for prop in api.body.propertiesList %}
          {% if prop.schema.description -%}
            /**{{ prop.schema.description }}*/
          {% endif -%}
          {{ prop.key }}{{ "?" if not prop.schema.required }}:
          {{ prop.schema.type }},
        {%- endfor %}
        }
      {%- else -%}
        {{ api.body.type }}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
  {{- "," if api.body or api.hasParams -}}
  {# config参数 #}
  config{{ "?: " + (requestConfigType if requestConfigType else '{[key: string]: any}') if genType === "ts" }}
  {# header参数 #}
  {%- if api.params.header and genType === "ts" %}
    & { headers?:{
    {%- for header in api.params.header %}
      {%- if header.description %}
        /**{{header.description}}*/
      {%- endif %}
      '{{header.name}}'
      {{ "?" if not header.required }}
      {{ (": " + header.type + ";") | safe}}
    {%- endfor %}
    } }
  {%- endif -%}
  ){
  {% if api.params and api.params.path -%}
    const {
    {% for param in api.params.path %}'{{ param.name }}':
      {{ param.alias }},
    {% endfor -%}
    {% if api.params.path -%}
      ...queryParams
    {% endif -%}
    } = params;
  {% endif -%}

  {% if api.hasPathVariables or api.hasApiPrefix -%}
    return request.{{ api.method | lower }}{{ ("<" + api.response.type + ">") | safe if genType === "ts" }}(`{{ api.path | safe }}`,
  {%- else %}
    return request.{{ api.method | lower }}{{ ("<" + api.response.type + ">") | safe if genType === "ts" }}('{{ api.path }}',
  {%- endif %}
  {%- if api.hasParams and (api.method === "get" or api.method === "delete") %}
    {
    {%- for query in api.params.query %}
      {% if query.schema.default -%}
        {{ "// " + query.name | safe + "has a default value: " + query.schema.default | safe }}
        '{{query.name | safe}}': '{{query.schema.default | safe}}',
      {%- endif -%}
    {%- endfor -%}
    ...{{ 'queryParams' if api.params and api.params.path else 'params' }},
    {%- for query in api.params.query %}
      {%- if query.isComplexType %}
        '{{query.name | safe}}': undefined, ...{{ 'queryParams' if api.params and api.params.path else 'params' }}['{{query.name | safe}}'],
      {%- endif %}
    {%- endfor -%}
    },
  {%- else %}
    {%- if api.body %}
      data,
    {%- else %}
      {},
    {%- endif %}
  {%- endif %}
  {
  {% if api.method !== "get" and api.method !== "delete" %}
    {%- if api.params and api.hasParams %}
      params: {
      {%- for query in api.params.query %}
        {% if query.schema.default -%}
          {{ "// "+query.name | safe+"has a default value: "+query.schema.default | safe}}
          '{{query.name | safe}}': '{{query.schema.default | safe}}',
        {%- endif -%}
      {%- endfor -%}
      ...{{ 'queryParams' if api.params and api.params.path else 'params' }},
      {%- for query in api.params.query %}
        {%- if query.isComplexType %}
          '{{query.name | safe}}': undefined, ...{{ 'queryParams' if api.params and api.params.path else 'params' }}['{{query.name | safe}}'],
        {%- endif %}
      {%- endfor -%}
      },
    {%- endif %}
  {%- endif %}
  ...(config || {}), }); }
{% endfor %}